.Header {
  background-color: rgb(128, 128, 128);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  h1 {
    margin: 0;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 0 10px;
    }
  }
}
