.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content";

  .Header {
    grid-area: header;
  }
  .content {
    grid-area: content;
    display: flex;
    justify-content: center;
  }
}
